.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
  }
  
  
  .boards {
      width: 400px;
      cursor: pointer;
      transition: ease-in-out;
      margin: 0;
    }
    
    .boards:hover {
      opacity: 0.8;
    }
  
  
  .product-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
  
  .product-container div {
      display: flex;
      flex-direction: column;
     align-items: center; 
    }
  
  